<!DOCTYPE html>
<html>
<head>
    <title>Card Game</title>
    <style>
        /* Your CSS styles can go here */
        body{
            background-color: aliceblue;
        }

        .boardFather{
            display: flex;
            width: 50vw;
            height: 50vh;
            margin-top: 3vh;
            margin-left: 3vw;
        }

        .playerChild{
            width: auto;
            height: auto;

        }
    </style>
</head>
<body>
    <h1>Card Game</h1>
    <button id="startGameBtn">Start Game</button>
    <div id="gameState"></div>
    <button id="makeMoveBtn">Make Move</button>
    
    <script src="js/index.js"> </script>
</body>
</html>
