<!DOCTYPE html>
<html>
<head>
    <title>Card Game</title>
<script src="web-ui\templates\js\index.js"> </script>

</head>
<body>
    <div id="p1">
    <h1>Card Game</h1>
    <button id="startGameBtn">Start Game</button>
    <div id="gameState"></div>
    <button id="makeMoveBtn">Make Move</button>
    </div>
    <div id="p2">
        <h1>Card Game</h1>
        <button id="startGameBtn">Start Game</button>
        <div id="gameState"></div>
        <button id="makeMoveBtn">Make Move</button>
    </div>
    
    <div id="p3">
        <h1>Card Game</h1>
        <button id="startGameBtn">Start Game</button>
        <div id="gameState"></div>
        <button id="makeMoveBtn">Make Move</button>
    </div>
    <div id="p4">
            <h1>Card Game</h1>
            <button id="startGameBtn">Start Game</button>
            <div id="gameState"></div>
            <button id="makeMoveBtn">Make Move</button>
    </div>

        <div id="p5">
            <h1>Card Game</h1>
            <button id="startGameBtn">Start Game</button>
            <div id="gameState"></div>
            <button id="makeMoveBtn">Make Move</button>
        </div>
</body>
</html>
