body{
    background-color: dimgrey;
}

#deckImg{
    width: 250px ;
    height: 350px;

}
#parent{
    display: flex;
    flex-direction: row;
}
#deckDaddy{
    display: flex;
    flex-direction: row;
    wrap-option: nowrap;
    background-image: url("table.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35vw;
}

#deckDaddy > img{
    width: 50%;
    height: 90%;
    margin: 5%;
}

.cardInHand{
    width: 62px ;
    height: 87px ;
}

.declaredCards{
    width: 31px;
    height: 43px;
}

#hand{
    width: 25vw;
    height: 25vw;
    background-image:url("https://pngimg.com/d/hands_PNG98525.png");
    background-size: cover;
}

#otherPlayers > div{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}
