<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gamer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hiddenUI.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <script type="text/javascript" charset="utf-8">
        document.addEventListener("DOMContentLoaded", function() {
            let round = document.getElementById("round");
            let discardElement = document.getElementById("discardImg")
            let parent = document.getElementById("parent")
            const hand = document.getElementById("hand")
            const otherPlayers = document.getElementById("otherPlayers")
            const playerID = parseInt("{{ agentID }}");
            const runs = document.getElementById("runs")
            const sets = document.getElementById("sets")
            const socket = io();
            const requestDiv = document.getElementById("requests");
            const deckElement = document.getElementById("deckImg")
            const winConditions = document.getElementById("winConditions");
            const declaredCards = document.getElementById("declaredCards");
            let state;
            socket.emit("test", "socket connected!")

            const imgLinks = {
                // Spades
                "Ace of Spades": "{{ url_for('static', filename='cards/ace_of_spades.svg') }}",
                "Two of Spades": "{{ url_for('static', filename='cards/2_of_spades.svg') }}",
                "Three of Spades": "{{ url_for('static', filename='cards/3_of_spades.svg') }}",
                "Four of Spades": "{{ url_for('static', filename='cards/4_of_spades.svg') }}",
                "Five of Spades": "{{ url_for('static', filename='cards/5_of_spades.svg') }}",
                "Six of Spades": "{{ url_for('static', filename='cards/6_of_spades.svg') }}",
                "Seven of Spades": "{{ url_for('static', filename='cards/7_of_spades.svg') }}",
                "Eight of Spades": "{{ url_for('static', filename='cards/8_of_spades.svg') }}",
                "Nine of Spades": "{{ url_for('static', filename='cards/9_of_spades.svg') }}",
                "Ten of Spades": "{{ url_for('static', filename='cards/10_of_spades.svg') }}",
                "Jack of Spades": "{{ url_for('static', filename='cards/jack_of_spades2.svg') }}",
                "Queen of Spades": "{{ url_for('static', filename='cards/queen_of_spades2.svg') }}",
                "King of Spades": "{{ url_for('static', filename='cards/king_of_spades2.svg') }}",

                // Hearts
                "Ace of Hearts": "{{ url_for('static', filename='cards/ace_of_hearts.svg') }}",
                "Two of Hearts": "{{ url_for('static', filename='cards/2_of_hearts.svg') }}",
                "Three of Hearts": "{{ url_for('static', filename='cards/3_of_hearts.svg') }}",
                "Four of Hearts": "{{ url_for('static', filename='cards/4_of_hearts.svg') }}",
                "Five of Hearts": "{{ url_for('static', filename='cards/5_of_hearts.svg') }}",
                "Six of Hearts": "{{ url_for('static', filename='cards/6_of_hearts.svg') }}",
                "Seven of Hearts": "{{ url_for('static', filename='cards/7_of_hearts.svg') }}",
                "Eight of Hearts": "{{ url_for('static', filename='cards/8_of_hearts.svg') }}",
                "Nine of Hearts": "{{ url_for('static', filename='cards/9_of_hearts.svg') }}",
                "Ten of Hearts": "{{ url_for('static', filename='cards/10_of_hearts.svg') }}",
                "Jack of Hearts": "{{ url_for('static', filename='cards/jack_of_hearts2.svg') }}",
                "Queen of Hearts": "{{ url_for('static', filename='cards/queen_of_hearts2.svg') }}",
                "King of Hearts": "{{ url_for('static', filename='cards/king_of_hearts2.svg') }}",

                // Diamonds
                "Ace of Diamonds": "{{ url_for('static', filename='cards/ace_of_diamonds.svg') }}",
                "Two of Diamonds": "{{ url_for('static', filename='cards/2_of_diamonds.svg') }}",
                "Three of Diamonds": "{{ url_for('static', filename='cards/3_of_diamonds.svg') }}",
                "Four of Diamonds": "{{ url_for('static', filename='cards/4_of_diamonds.svg') }}",
                "Five of Diamonds": "{{ url_for('static', filename='cards/5_of_diamonds.svg') }}",
                "Six of Diamonds": "{{ url_for('static', filename='cards/6_of_diamonds.svg') }}",
                "Seven of Diamonds": "{{ url_for('static', filename='cards/7_of_diamonds.svg') }}",
                "Eight of Diamonds": "{{ url_for('static', filename='cards/8_of_diamonds.svg') }}",
                "Nine of Diamonds": "{{ url_for('static', filename='cards/9_of_diamonds.svg') }}",
                "Ten of Diamonds": "{{ url_for('static', filename='cards/10_of_diamonds.svg') }}",
                "Jack of Diamonds": "{{ url_for('static', filename='cards/jack_of_diamonds2.svg') }}",
                "Queen of Diamonds": "{{ url_for('static', filename='cards/queen_of_diamonds2.svg') }}",
                "King of Diamonds": "{{ url_for('static', filename='cards/king_of_diamonds2.svg') }}",

                // Clubs
                "Ace of Clubs": "{{ url_for('static', filename='cards/ace_of_clubs.svg') }}",
                "Two of Clubs": "{{ url_for('static', filename='cards/2_of_clubs.svg') }}",
                "Three of Clubs": "{{ url_for('static', filename='cards/3_of_clubs.svg') }}",
                "Four of Clubs": "{{ url_for('static', filename='cards/4_of_clubs.svg') }}",
                "Five of Clubs": "{{ url_for('static', filename='cards/5_of_clubs.svg') }}",
                "Six of Clubs": "{{ url_for('static', filename='cards/6_of_clubs.svg') }}",
                "Seven of Clubs": "{{ url_for('static', filename='cards/7_of_clubs.svg') }}",
                "Eight of Clubs": "{{ url_for('static', filename='cards/8_of_clubs.svg') }}",
                "Nine of Clubs": "{{ url_for('static', filename='cards/9_of_clubs.svg') }}",
                "Ten of Clubs": "{{ url_for('static', filename='cards/10_of_clubs.svg') }}",
                "Jack of Clubs": "{{ url_for('static', filename='cards/jack_of_clubs2.svg') }}",
                "Queen of Clubs": "{{ url_for('static', filename='cards/queen_of_clubs2.svg') }}",
                "King of Clubs": "{{ url_for('static', filename='cards/king_of_clubs2.svg') }}"
           };

            const inverseImgLinks = {};

            for (const [cardName, imgUrl] of Object.entries(imgLinks)) {
              inverseImgLinks["http://localhost:5000" + imgUrl] = cardName;
            }


            discardElement.setAttribute("src",imgLinks["Ace of Spades"])
            discardElement.style.opacity = "0.0"
             socket.on("game_state", function (ans) {
                    state = ans;
                    console.log(`got the state : ${JSON.stringify(state)}`)
                    updateUI()
             });
            function updateUI() {
                // Updates the game ui with the info from the state
                // updating the round counter
                round.innerText = "Runda: " + state["round"].toString()
                if (state["winConditions"]["runs"] === null) {state["winConditions"]["runs"] = 0}
                else if(state["winConditions"]["sets"]){state["winConditions"]["sets"] = 0}
                winConditions.innerText = "Korta :" + state["winConditions"]["sets"] + ", Långa: " + state["winConditions"]["runs"];

                //update discard
                if (state["discardDeck"].length > 0) {
                    discardElement.setAttribute("src", imgLinks[state["discardDeck"][state["discardDeck"].length - 1]]);
                    discardElement.style.opacity = "1"
                }
                else {discardElement.style.opacity = "0.1"}

                // updating hand
                hand.replaceChildren();
                let playerHand = state["playerHands"][playerID];
                for (const card of playerHand) {
                    let img = document.createElement("img");
                    img.src = imgLinks[card];
                    img.classList.add("cardInHand");
                    hand.appendChild(img);
                }
                //updateOtherPlayerInfo();
                updateDeclaredCards(playerID);

            }
            function updateDeclaredCards(){
                declaredCards.replaceChildren();
                for (const agentID in state["declaredCards"]) {
                    if (state["declaredCards"].hasOwnProperty(agentID)) {
                        const declaredDiv = getDeclaredDiv(agentID);
                        declaredDiv.id = "declaredCards" + agentID;
                        declaredDiv.classList.add("agentDeclared")
                        declaredCards.appendChild(declaredDiv)
                    }
                }
            }
            function getDeclaredDiv(playerID){

                const declaredRuns = state["declaredCards"][playerID]["runs"];
                const declaredSets = state["declaredCards"][playerID]["sets"];
                const runDiv = document.createElement("div")
                const setDiv = document.createElement("div")
                const parent = document.createElement("div")


                for (let i = 0; i < declaredSets.length; i++) {
                    let card = declaredSets[i][0];
                    let p = document.createElement("p")
                    let div = document.createElement("div")
                    p.innerText = `${declaredSets[i].length.toString()} x `;
                    div.appendChild(p)
                    let img = document.createElement("img");
                    img.src = imgLinks[card];
                    img.classList.add("declaredCards");
                    div.appendChild(img);
                    setDiv.appendChild(div);
                }

                // setting the runs
                for (const declaredRun of declaredRuns) {
                    let firstCard = declaredRun[0];
                    let lastCard = declaredRun[declaredRun.length - 1]
                    let p = document.createElement("p")
                    let div = document.createElement("div")
                    let img = document.createElement("img");
                    // adding the first card in the run
                    img.src = imgLinks[firstCard];
                    img.classList.add("declaredCards");
                    div.appendChild(img);
                    p.innerText = "➡️";
                    div.appendChild(p)

                    // adding the last card in the run.
                    let img2 = document.createElement("img");
                    img2.src = imgLinks[lastCard];
                    img2.classList.add("declaredCards");

                    div.appendChild(img2);
                    runDiv.appendChild(div);
                }
                parent.appendChild(setDiv);
                parent.appendChild(runDiv);
                return parent;

            }

            function updateOtherPlayerInfo(){
                for (const div of otherPlayers.children) {
                    div.childNodes[1].textContent = state["playerHands"][div.id].length.toString();
                }
            }

            // UI AGENT LOGIC

            socket.on("uiAgentRequest", function (data) {
                console.log(JSON.stringify(data))
                let request = data["request"];
                if (playerID !== data["agentID"]){
                    return
                }
                console.log("handling uiAgent logic");

                agent_request(request, playerID, function(action) {
                    console.log(`${playerID} svarar med ${action.response.toString()} skickar till servern"`);
                    socket.emit("uiAgentResponse", JSON.stringify(action));
                });
            })

            function agent_request(type, id, callback) {
                let ptag = document.createElement("p");
                let textContent = {
                    card2Play: "Tryck på kort att spela",
                    layCard: "ID av agent kort ska läggas på",
                    take_discard: "Vilken hög vill du ta ifrån?"
                }

                ptag.textContent = textContent[type];
                requestDiv.appendChild(ptag)
                let response = {"agentID": id, "response": "yes"}
                if (type !== "card2Play" && type !== "layCard") {
                    const yesBtn = document.createElement("button");
                    const noBtn = document.createElement("button");

                    yesBtn.textContent = "Ja";
                    noBtn.textContent = "Nej";
                    yesBtn.onclick = function () {
                        callback(response);
                        yesBtn.remove();
                        noBtn.remove();
                        ptag.remove();
                    }

                    discardElement.onclick = function () {
                        callback(response);
                        yesBtn.remove();
                        noBtn.remove();
                        ptag.remove();
                        discardElement.onclick = function (){};
                        deckElement.onclick = function (){};

                    }

                    deckElement.onclick = function (){
                        response["response"] = "no"
                        callback(response);
                        yesBtn.remove();
                        noBtn.remove();
                        ptag.remove();
                        deckElement.onclick = function (){};
                        discardElement.onclick = function (){};

                    }

                    noBtn.onclick = function () {
                        response["response"] = "no"
                        callback(response);
                        yesBtn.remove();
                        noBtn.remove();
                        ptag.remove();

                    }
                    requestDiv.appendChild(yesBtn);
                    requestDiv.appendChild(noBtn);
                }
                else if(type === "card2Play"){
                    function onCardClick(element){
                        let cardName = inverseImgLinks[element.src]
                        response["response"] = state["playerHands"][playerID].indexOf(cardName)
                        callback(response)
                        submitButton.remove();
                        inputBox.remove();
                        ptag.remove();
                    }
                    for (const child of hand.children) {
                        child.addEventListener('click', function () {
                            onCardClick(child)
                        });
                    }
                    // old shit
                    let inputBox = document.createElement("input")
                    inputBox.type = "text";
                    let submitButton = document.createElement("button");
                    submitButton.textContent = "submit";
                    submitButton.onclick = function () {
                        response["response"] = inputBox.value;
                        if (parseInt(inputBox.value) > state["playerHands"][id].length){
                            return
                        }
                        callback(response)
                        submitButton.remove();
                        inputBox.remove();
                        ptag.remove();
                    }
                    requestDiv.appendChild(inputBox);
                    requestDiv.appendChild(submitButton);
                }
                else if (type === "layCard"){

                }
            }

        });

    </script>
</head>
<body>
    <header>
        <span id="round"></span>
        <span id="winConditions">10</span>
    </header>

    <div id="parent">
            <div id="deckDaddy">
                <img src="" id="discardImg" alt="">
                <img id="deckImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Card_back_01.svg/1200px-Card_back_01.svg.png" draggable="false" alt="">
            </div>
        <div id="hand">

        </div>
        <div id="declaredCards">

        <div id="runs">

        </div>

        <div id="sets">

        </div>
    </div>
    </div> <!-- parent !-->
    <div id="requests">

    </div>

</body>
</html>