<!DOCTYPE html>
<html lang="se">
<head>
    <title>Coolt spel</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <script type="text/javascript" charset="utf-8">


        document.addEventListener("DOMContentLoaded", function() {
            round = document.getElementById("round");
            discardElement = document.getElementById("discardImg")
            var socket = io();
            var state;
            socket.emit("test", "socket connected!")

            const imgLinks = {
                // Spades
                "Ace of Spades": "{{ url_for('static', filename='cards/ace_of_spades.svg') }}",
                "Two of Spades": "{{ url_for('static', filename='cards/2_of_spades.svg') }}",
                "Three of Spades": "{{ url_for('static', filename='cards/3_of_spades.svg') }}",
                "Four of Spades": "{{ url_for('static', filename='cards/4_of_spades.svg') }}",
                "Five of Spades": "{{ url_for('static', filename='cards/5_of_spades.svg') }}",
                "Six of Spades": "{{ url_for('static', filename='cards/6_of_spades.svg') }}",
                "Seven of Spades": "{{ url_for('static', filename='cards/7_of_spades.svg') }}",
                "Eight of Spades": "{{ url_for('static', filename='cards/8_of_spades.svg') }}",
                "Nine of Spades": "{{ url_for('static', filename='cards/9_of_spades.svg') }}",
                "Ten of Spades": "{{ url_for('static', filename='cards/10_of_spades.svg') }}",
                "Jack of Spades": "{{ url_for('static', filename='cards/jack_of_spades2.svg') }}",
                "Queen of Spades": "{{ url_for('static', filename='cards/queen_of_spades2.svg') }}",
                "King of Spades": "{{ url_for('static', filename='cards/king_of_spades2.svg') }}",

                // Hearts
                "Ace of Hearts": "{{ url_for('static', filename='cards/ace_of_hearts.svg') }}",
                "Two of Hearts": "{{ url_for('static', filename='cards/2_of_hearts.svg') }}",
                "Three of Hearts": "{{ url_for('static', filename='cards/3_of_hearts.svg') }}",
                "Four of Hearts": "{{ url_for('static', filename='cards/4_of_hearts.svg') }}",
                "Five of Hearts": "{{ url_for('static', filename='cards/5_of_hearts.svg') }}",
                "Six of Hearts": "{{ url_for('static', filename='cards/6_of_hearts.svg') }}",
                "Seven of Hearts": "{{ url_for('static', filename='cards/7_of_hearts.svg') }}",
                "Eight of Hearts": "{{ url_for('static', filename='cards/8_of_hearts.svg') }}",
                "Nine of Hearts": "{{ url_for('static', filename='cards/9_of_hearts.svg') }}",
                "Ten of Hearts": "{{ url_for('static', filename='cards/10_of_hearts.svg') }}",
                "Jack of Hearts": "{{ url_for('static', filename='cards/jack_of_hearts2.svg') }}",
                "Queen of Hearts": "{{ url_for('static', filename='cards/queen_of_hearts2.svg') }}",
                "King of Hearts": "{{ url_for('static', filename='cards/king_of_hearts2.svg') }}",

                // Diamonds
                "Ace of Diamonds": "{{ url_for('static', filename='cards/ace_of_diamonds.svg') }}",
                "Two of Diamonds": "{{ url_for('static', filename='cards/2_of_diamonds.svg') }}",
                "Three of Diamonds": "{{ url_for('static', filename='cards/3_of_diamonds.svg') }}",
                "Four of Diamonds": "{{ url_for('static', filename='cards/4_of_diamonds.svg') }}",
                "Five of Diamonds": "{{ url_for('static', filename='cards/5_of_diamonds.svg') }}",
                "Six of Diamonds": "{{ url_for('static', filename='cards/6_of_diamonds.svg') }}",
                "Seven of Diamonds": "{{ url_for('static', filename='cards/7_of_diamonds.svg') }}",
                "Eight of Diamonds": "{{ url_for('static', filename='cards/8_of_diamonds.svg') }}",
                "Nine of Diamonds": "{{ url_for('static', filename='cards/9_of_diamonds.svg') }}",
                "Ten of Diamonds": "{{ url_for('static', filename='cards/10_of_diamonds.svg') }}",
                "Jack of Diamonds": "{{ url_for('static', filename='cards/jack_of_diamonds2.svg') }}",
                "Queen of Diamonds": "{{ url_for('static', filename='cards/queen_of_diamonds2.svg') }}",
                "King of Diamonds": "{{ url_for('static', filename='cards/king_of_diamonds2.svg') }}",

                // Clubs
                "Ace of Clubs": "{{ url_for('static', filename='cards/ace_of_clubs.svg') }}",
                "Two of Clubs": "{{ url_for('static', filename='cards/2_of_clubs.svg') }}",
                "Three of Clubs": "{{ url_for('static', filename='cards/3_of_clubs.svg') }}",
                "Four of Clubs": "{{ url_for('static', filename='cards/4_of_clubs.svg') }}",
                "Five of Clubs": "{{ url_for('static', filename='cards/5_of_clubs.svg') }}",
                "Six of Clubs": "{{ url_for('static', filename='cards/6_of_clubs.svg') }}",
                "Seven of Clubs": "{{ url_for('static', filename='cards/7_of_clubs.svg') }}",
                "Eight of Clubs": "{{ url_for('static', filename='cards/8_of_clubs.svg') }}",
                "Nine of Clubs": "{{ url_for('static', filename='cards/9_of_clubs.svg') }}",
                "Ten of Clubs": "{{ url_for('static', filename='cards/10_of_clubs.svg') }}",
                "Jack of Clubs": "{{ url_for('static', filename='cards/jack_of_clubs2.svg') }}",
                "Queen of Clubs": "{{ url_for('static', filename='cards/queen_of_clubs2.svg') }}",
                "King of Clubs": "{{ url_for('static', filename='cards/king_of_clubs2.svg') }}"
            };


            socket.on("game_state", function (ans) {
                console.log(`got the state : ${JSON.stringify(ans)}`);
                state = ans;
                updateUI()
            })

            function updateUI() {
                // Updates the game ui with the info from the state
                // updating the round counter
                round.innerText = "Runda: " + state["round"].toString()

                //update discard
                if(state["discardDeck"].length > 0){discardElement.setAttribute("src",imgLinks[state["discardDeck"][0]]);}
                else {discardElement.setAttribute("src","")}
                // updating player info
                let parent = document.getElementById("parent")
                for (var child of parent.children) {
                    let playerId = child.id;
                    let playerHand = state["playerHands"][playerId];
                    let handDiv = document.getElementById("hand" + playerId)
                    // Set the text content of the paragraph to the player's hand array
                    if(handDiv){
                         handDiv.replaceChildren()
                        for (const card of playerHand) {
                            let img = document.createElement("img")
                            img.src = imgLinks[card]
                            img.classList.add("cardInHand")
                            handDiv.appendChild(img)
                        }
                    }
                    if(parseInt(playerId) === state["currentPlayer"]){
                        child.style.backgroundColor = "red"
                    }
                    else{
                        child.style.backgroundColor = "darkgrey"
                    }
                    if (state["declaredCards"][playerId] != null){
                        updateDeclaredCards(playerId)
                    }
                }

            }


            function updateDeclaredCards(playerID){
                const declaredRuns = state["declaredCards"][playerID]["runs"];
                const runs = document.getElementById("runs" + playerID)
                const sets = document.getElementById("sets" + playerID)

                runs.replaceChildren();
                for (const card of declaredRuns) {
                    let img = document.createElement("img");
                    img.src = imgLinks[card];
                    img.classList.add("declaredCards");
                    runs.appendChild(img);
                }
                sets.replaceChildren();
                const declaredSets = state["declaredCards"][playerID]["sets"];
                for (const card of declaredSets) {
                    let img = document.createElement("img");
                    img.src = imgLinks[card];
                    img.classList.add("declaredCards");
                    sets.appendChild(img);
                }
            }




            // Agent
            socket.on("uiAgentRequest", function (data) {
                console.log(JSON.stringify(data))
                let request = data["request"];
                let agentID = data["agentID"];
                console.log("handling uiAgent:", agentID);

                agent_request(request, agentID, function(action) {
                    console.log(`${agentID} svarar med ${action.response.toString()} skickar till servern"`);
                    socket.emit("uiAgentResponse", JSON.stringify(action));
                });
            })

            function agent_request(type, id, callback) {
                let infoDiv = document.getElementById(id).querySelector("div");
                var ptag = document.createElement("p");
                let textContent = {
                    card2Play: "Index av kort att spela",
                    layCard: "ID av agent kort ska läggas på",
                    take_discard: "Discard är tom, tryck nej "
                }
                if (state["discardDeck"] && state["discardDeck"].length > 0){
                    textContent["take_discard"] = "ta " + state["discardDeck"][0].toString()
                }
                ptag.textContent = textContent[type];
                infoDiv.appendChild(ptag)
                let response = {"agentID": id, "response": "yes"}
                if (type !== "card2Play" && type !== "layCard") {
                    // gets the player div
                    var yesBtn = document.createElement("button");
                    var noBtn = document.createElement("button");

                    yesBtn.textContent = "Ja";
                    noBtn.textContent = "Nej";
                    yesBtn.onclick = function () {
                        callback(response);
                        yesBtn.remove();
                        noBtn.remove();
                        ptag.remove();
                    }

                    discardElement.onclick = function () {
                        callback(response);
                        yesBtn.remove();
                        noBtn.remove();
                        ptag.remove();
                    }
                    noBtn.onclick = function () {
                        response["response"] = "no"
                        callback(response);
                        yesBtn.remove();
                        noBtn.remove();
                        ptag.remove();

                    }
                    let infoDiv = document.getElementById(id).querySelector("div");
                    infoDiv.appendChild(yesBtn);
                    infoDiv.appendChild(noBtn);
                }
                else if(type === "card2Play"){
                    let inputBox = document.createElement("input")
                    inputBox.type = "text";
                    let submitButton = document.createElement("button");
                    submitButton.textContent = "submit";
                    submitButton.onclick = function () {
                        response["response"] = inputBox.value;
                        if (parseInt(inputBox.value) > state["playerHands"][id].length){
                            return
                        }
                        callback(response)
                        submitButton.remove();
                        inputBox.remove();
                        ptag.remove();
                    }
                    infoDiv.appendChild(inputBox);
                    infoDiv.appendChild(submitButton);
                }
            }
        });


    </script>
</head>
<body>
<span>
    <h1 id="round"></h1>
</span>
<div id="parent">
    <div id="1">
        <h1>p1</h1>
        <div id="hand1">
        </div>
        <div id="declared1">
            <div id="runs1">

            </div>
            <div id="sets1">

            </div>
        </div>
    </div>
    <div id="2">
        <h1>p2</h1>
        <div id="hand2"></div>
        <div id="declared2">
            <div id="runs2"></div>
            <div id="sets2"></div>
        </div>
    </div>
    <div id="3">
        <h1>p3</h1>
        <div id="hand3"></div>
        <div id="declared3">
            <div id="runs3"></div>
            <div id="sets3"></div>
        </div>
    </div>
    <div id="4">
        <h1>p4</h1>
        <div id="hand4"></div>
        <div id="declared4">
            <div id="runs4"></div>
            <div id="sets4"></div>
        </div>
    </div>
    <div id="5">
        <h1>p5</h1>
        <div id="hand5"></div>
        <div id="declared5">
            <div id="runs5"></div>
            <div id="sets5"></div>
        </div>
    </div>
    <img src="" id="discardImg">
</div>


</body>
</html>
