<!DOCTYPE html>
<html lang="se">
<head>
    <title>Coolt spel</title>
   <!-- <script src="{{ url_for('static', filename='index.js') }}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <script type="text/javascript" charset="utf-8">
        document.addEventListener("DOMContentLoaded", function() {
            console.log("Script started")
            round = document.getElementById("round");

            var socket = io();
            socket.emit("test", "connection made!")

            socket.on("game_state", function (state) {
                console.log("State recived")
                updateUI(state)
            })

            function test() {

            }

            function updateUI(state) {
                // Updates the game ui with the info from the state

                let p = document.createElement("p")
                let parent = document.getElementById("parent")
                for (var child of parent.children) {

                    p.innerText = state["playerHands"][child.id].toString()
                }
            }

            // Agent
            socket.on("uiAgentRequest", function (data) {
                let request = data["request"];
                let agentID = data["agentID"];
                console.log("handling uiAgent:", agentID);
                let action = agent_request(request, agentID);
                socket.emit("uiAgentResponse", action)
            })

            function agent_request(type, id) {
                if (type !== "card2Play" && type !== "layCard") {
                    let response = {"agentID": id, "response": "yes"}
                    // gets the player div
                    var yesBtn = document.get.createElement("button");
                    var noBtn = document.get.createElement("button");

                    yesBtn.textContent = "Ja";
                    noBtn.textContent = "Nej";
                    yesBtn.onclick = function () {
                        return response
                    }

                    noBtn.onclick = function () {
                        response["response"] = "no"
                        return response;
                    }
                    let infoDiv = document.getElementById(id).querySelector("div");
                    infoDiv.appendChild(yesBtn);
                    infoDiv.appendChild(noBtn);
                }
            }
        });


    </script>
</head>
<body>
<span>
    <h1>Runda:</h1><h1 id="round"></h1>
</span>
<div id="parent">
    <div id="1">
        <h1>p1</h1>
        <div>
            <p>Hand:</p>
            <p id="hand1"></p>
        </div>
    </div>
    <div id="2">
        <h1>p2</h1>
        <div>
            <p>Hand:</p>
            <p id="hand2"></p>
        </div>
    </div>
    <div id="3">
        <h1>p3</h1>
        <div>
            <p>Hand:</p>
            <p id="hand3"></p>
        </div>
    </div>
    <div id="4">
        <h1>p4</h1>
        <div>
            <p>Hand:</p>
            <p id="hand4"></p>
        </div>
    </div>
    <div id="5">
        <h1>p5</h1>
        <div>
            <p>Hand:</p>
            <p id="hand5"></p>
        </div>
    </div>
</div>

 <button type="button" onclick="test()">Start</button>
</body>
</html>
